<div id="navbar">
  <% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Sign-out", signout_path%>
  <% end %>
</div> <!-- end of #tnavbar-->
<div id="twitter-friends">
  <h2>Twitter Friends</h2>
  <% @twitter_friends.each do |friend|%>
  <ul>
    <li>
      <%= p friend %>
    </li>
  </ul>
  <%end%>
</div> <!-- end of #twitter-friends-->