<div id="inner-content">
  <div id="interactive-nodes">
    <%= render 'interactive'%>
  </div><!-- end of #interactive-nodes-->
  <div id="chord">
  </div><!-- end of #chord-->
</div><!-- end of #inner-content-->
