<div id="banner">
  <div id="banner-copy">
    <div id="title">
      Socrada
    </div>
    <div id="tagline">
      Social Relationship Data Visualised
    </div>
    <div id="product-description">
      Socrada will help you visualise your social connections and strategize your networking
    </div>
  </div>
  <div id="central-login">
    <a id="twitter-login" href="/auth/twitter">
      <%= image_tag('login_twitter.png')%>
    </a>
  </div><!-- end of #central-login -->
</div>
